.container-fluid.h-100
  .row.h-100.py-5.px-5
    .col-12
      = form_for @trade_order, :url => ware_trade_orders_path(@ware) do |f|
        - if @trade_order.errors.any?
          #error_explanation
            %h2= "#{pluralize(@trade_order.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @trade_order.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row.justify-content-center.mb-5
          %h2
            收货地址
        .form-group.row.mb-5
          = f.label Setting.trade_orders.name, :class => "col-2 col-form-label-lg text-right  col-form-label"
          .col-10
            = f.text_field :name, :class => "form-control border-0 form-control-lg"
          .col-12
            %hr
          
        .form-group.row.mb-5
          = f.label Setting.trade_orders.phone, :class => "col-2 col-form-label-lg text-right  col-form-label"
          .col-10
            = f.text_field :phone, :class => "form-control border-0 form-control-lg"
          .col-12
            %hr
          
        .form-group.row.mb-5
          = f.label Setting.trade_orders.address, :class => "col-2 col-form-label-lg text-right  col-form-label"
          .col-10
            = f.text_area :address, :class => "form-control border-0 form-control-lg", :rows => "5"
          .col-12
            %hr
          
        .form-group.row
          .col-12
            = f.submit '创建', :class => "btn btn-success btn-block btn-lg"
