- provide(:title, t('.title'))

.container-fluid.py-5
  .row
    .col-md-12
      %ul.list-group
        %li.list-group-item
          = Setting.trade_orders.number
          = @trade_order.number
        %li.list-group-item
          = link_to mobile_show_ware_path(@trade_order.ware) do 
            .media
              = image_tag @trade_order.ware.enclosures[0].file_url(:small_width), :class => "mr-3"
              .media-body
                %h5.mt-0
                  = @trade_order.ware.title
        %li.list-group-item
          = Setting.trade_orders.price
          = @trade_order.price
        %li.list-group-item
          = Setting.trade_orders.name
          = @trade_order.name
        %li.list-group-item
          = Setting.trade_orders.phone
          = @trade_order.phone
        %li.list-group-item
          = Setting.trade_orders.address
          = @trade_order.address
        %li.list-group-item
          = state(@trade_order.state)
        %li.list-group-item
          - if @trade_order.state == Setting.trade_orders.pending
            - if current_user.account.coin >= @trade_order.price
              = form_tag pay_create_trade_order_url(@trade_order) do |f|
                .form-group.row.mb-5
                  = label_tag nil, '安全密码', :class => "col-2 col-form-label-lg text-right  col-form-label"
                  .col-10
                    = password_field_tag 'password', nil, :class => "form-control form-control-lg"
                  .col-12
                    %hr
                .form-group.row
                  .col-12
                    = submit_tag '立即支付', :class => "btn btn-success btn-block btn-lg"
            - else
              = link_to '余额不足，立即充值', recharge_accounts_path, :class => "btn btn-success btn-block btn-lg"
