- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-12
        %table.table.text-center.table-bordered
          %thead
            %tr
            
              %th 
                = Setting.consumes.number
              %th 
                = Setting.consumes.category
              %th 
                = Setting.consumes.coin_cost
              %th 
                = Setting.consumes.coin_now
              %th 
                = Setting.consumes.status
              %th
          %tbody
            %tr
            
              %td
                = @consume.number
              %td
                = @consume.category
              %td
                = @consume.coin_cost
              %td
                = @consume.coin_now
              %td
                = @consume.status
              %td
                = link_to '编辑', edit_consume_path(@consume), :class => "btn btn-success"
                = link_to '返回', consumes_path, :class => "btn btn-danger"
    

= render "layouts/control_panel"
