.container-fluid.py-5
  .row.justify-content-sm-center
    .col-sm-6
      = form_for @notice do |f|
        - if @notice.errors.any?
          #error_explanation
            %h2= "#{pluralize(@notice.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @notice.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row
          = f.label Setting.notices.title, :class => "col-sm-3 col-form-label"
          .col-sm-9
            = f.text_field :title, :class => "form-control"
          
        .form-group.row
          = f.label Setting.notices.content, :class => "col-sm-3 col-form-label"
          .col-sm-9
            = f.kindeditor :content ,:window_onload => true 
          
      
        .form-group.row
          .col-sm-3.offset-sm-2
            = f.submit '保存', :class => "btn btn-success"
          .col-sm-3.offset-sm-1
            = link_to '返回', notices_path, :class => "btn btn-danger"
