- provide(:title, t('.title'))

= devise_error_messages!
.container-fluid.h-100
  .row.py-5.px-5
    .col-12.mt-5
      = link_to root_path do
        = image_tag 'delete.png', :class => "img-thubnail"
  .row.py-5.px-5.mt-5
    .col-12.px-5.mt-5
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group.row.mb-5.px-5
          %label.col-2.col-form-label.col-form-label-lg.text-left{:for => "phone"}
            = image_tag 'session-phone.png', :class => "img-thubnail login-label-img"
          .col-10.py-0
            = f.phone_field :phone, autofocus: true, :class => "form-control border-0 form-control-lg font-2rem h-100", :placeholder => "请输入手机号"
          .col-12.mt-3
            %hr.tea-hr
        .form-group.row.mb-3.px-5
          %label.col-2.col-form-label.col-form-label-lg.text-left{:for => "password"}
            = image_tag 'session-password.png', :class => "img-thubnail login-label-img"
          .col-10
            = f.password_field :password, autocomplete: "off", :class => "form-control border-0 form-control-lg font-2rem h-100", :placeholder => "请输入密码"
          .col-12.mt-3
            %hr.tea-hr
        .form-group.row.mb-5.px-5
          .col-12.text-right
            = link_to "注 册", new_user_registration_path, :class => "font-1-5rem text-secondary"
        -#
          .form-group.row.mb-5.px-5
            .col-12.text-right
              = link_to "忘记密码?", forget_path, :class => "font-1-5rem text-secondary"
        - if devise_mapping.rememberable?
          .form-check
            %label.form-check-label
              = f.check_box :remember_me, :checked=>true, class: "form-check-input d-none"
        .form-group.row.mb-5
          .col-12
            = f.submit "登 录", class: "button button-royal button-pill button-giant btn-block tea-button-green "
        -#
          .form-group.row.mb-5
            .col-12
              = link_to "注 册", new_user_registration_path, :class => "btn btn-info btn-lg btn-block "
