.container-fluid.h-100
  .row.h-100.align-items-center.px-5
    .col-sm-12
      = form_for @signin_user, :url => session_path(@signin_user) do |f|
        .form-group.row.justify-content-center.mb-5
          = image_tag 'logo.png', :class => "img-thubnail"
        .form-group.row.mb-5
          %label.col-2.col-form-label.col-form-label-lg{:for => "email"} 邮箱 
          .col-10
            = f.text_field :email, autofocus: true, :class => "form-control form-control-lg", :placeholder => "邮箱"
        .form-group.row.mb-5
          %label.col-2.col-form-label.col-form-label-lg{:for => "email"} 密码 
          .col-10
            = f.password_field :password, autocomplete: "off", :class => "form-control form-control-lg", :placeholder => "密码"
        .form-group.row.mb-5
          .col-12
            = f.submit "登 录", class: "btn btn-success btn-lg btn-block "
        .form-group.row.mb-5
          .col-12
            = link_to "注 册", logup_users_path, :class => "btn btn-info btn-lg btn-block "
