- provide(:title, t('.title'))

.container-fluid.h-100.trees-index-ctn
  .row
    .col-12.text-center
      %marquee.pt-5.pb-5
        %h2
          - if @notice
            = link_to @notice.title, mobile_index_notices_path, :class => "text-white" 
  .row
    .col-8.flex-column.pl-5
      - unless user_signed_in?
        .col-4
          %h2
            %span.badge.badge-pill.badge-light
              茶树
        .col-4
          %h2
            %span.badge.badge-pill.badge-light
              茶叶
        .col-4
          %h2
            %span.badge.badge-pill.badge-light
              茶晶
      - else
        .col-4
          %h2
            %span.badge.badge-pill.badge-light
              茶树
              = current_user.tree.count
        .col-4
          = link_to leafs_path do
            %h2
              %span.badge.badge-pill.badge-light
                茶叶
                = sprintf("%0.2f" ,current_user.leaf.count)
        .col-4
          = link_to info_citrines_path do
            %h2
              %span.badge.badge-pill.badge-light
                茶晶
                = sprintf("%0.2f" , current_user.citrine.count)
    .col-4.flex-column
      - if user_signed_in?
        .col-12.d-flex.justify-content-center
          = link_to protocol_home_index_path do
            = image_tag "protocol.png", :class => "img-thumbnail bg-transparent border-0"
        .col-12.d-flex.justify-content-center
          = link_to teams_path do
            = image_tag "tea-house.png", :class => "img-thumbnail bg-transparent border-0"
        .col-12.d-flex.justify-content-center
          -#
            = link_to '' do
          = link_to invite_tasks_path do
            = image_tag "invite.png", :class => "img-thumbnail bg-transparent border-0"
        .col-12.d-flex.justify-content-center
          = link_to citrines_path do
            = image_tag "citrine-exchange.png", :class => "img-thumbnail bg-transparent border-0"
  .row.h-50
    .col-12.h-100
      .d-flex.align-items-center.justify-content-center.h-100
        - if user_signed_in?
          - if current_user.status == Setting.users.passed
            - if current_user.leaf.unpick != 0
              = link_to pick_leaf_path(current_user.leaf) do
                = image_tag "leaf.png", :class => "img-thumbnail bg-transparent border-0"
                %h2.text-center.text-body
                  采茶
            - else
              = image_tag "leaf.png", :class => "img-thumbnail bg-transparent border-0"
              %h2.text-center.text-body
                努力生产中
          - elsif current_user.status == Setting.users.opening
            = link_to mobile_authc_new_user_path(current_user) do
              = image_tag "leaf.png", :class => "img-thumbnail bg-transparent border-0"
              %h2.text-center.text-body
                立即实名
          - elsif current_user.status == Setting.users.pending
            = link_to mobile_authc_status_user_path(current_user) do 
              = image_tag "leaf.png", :class => "img-thumbnail bg-transparent border-0"
              %h2.text-center.text-body
                认证已提交
          - else
            = link_to mobile_authc_new_user_path(current_user) do
              = image_tag "leaf.png", :class => "img-thumbnail bg-transparent border-0 d-block mx-auto"
              %h2.text-center.text-body
                认证失败，重新认证
        - else
          = link_to new_user_session_path do
            = image_tag "leaf.png", :class => "img-thumbnail bg-transparent border-0"
            %h2.text-center.text-body
              请登录
