- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-12
        %table.table.text-center.table-bordered
          %thead
            %tr
            
              %th 
                = Setting.trees.name
              %th 
                = Setting.trees.count
              %th
          %tbody
            %tr
            
              %td
                = @tree.name
              %td
                = @tree.count
              %td
                = link_to '编辑', edit_tree_path(@tree), :class => "btn btn-success"
                = link_to '返回', trees_path, :class => "btn btn-danger"
    

= render "layouts/control_panel"
