- provide(:title, t('.title'))

.container-fluid.py-5
  .row.mx-5.py-5
    .col-md-12.text-center
      %h1.text-white.mb-5
        = Setting.share_pools.today_enter
      %h2.text-warning.font-weight-bold
        = @share_pool.today_enter

  %ul.list-group.mt-5
    = link_to current_month_share_pools_path, :class => "list-group-item list-group-item-action bg-transparent border-0 text-white" do
      .row.py-3.px-5.border-bottom.border-white
        .col-6
          %h3
            = Setting.share_pools.total
        .col-6.text-right
          %h3
            = @share_pool.total
            >
    = link_to "", :class => "list-group-item list-group-item-action bg-transparent border-0 text-white" do
      .row.py-3.px-5.border-bottom.border-white
        .col-6
          %h3
            = Setting.share_pools.user_total
        .col-6.text-right
          %h3
            = @share_pool.user_total
    = link_to "", :class => "list-group-item list-group-item-action bg-transparent border-0 text-white" do
      .row.py-3.px-5.border-bottom.border-white
        .col-6
          %h3
            = Setting.share_pools.pay
        .col-6.text-right
          %h3
            = @share_pool.pay
    = link_to "", :class => "list-group-item list-group-item-action bg-transparent border-0 text-white" do
      .row.py-3.px-5.border-bottom.border-white
        .col-6
          %h3
            = Setting.share_pools.ware_total
        .col-6.text-right
          %h3
            = @share_pool.ware_total
    = link_to "", :class => "list-group-item list-group-item-action bg-transparent border-0 text-white" do
      .row.py-3.px-5.border-bottom.border-white
        .col-6
          %h3
            = Setting.share_pools.gross_sale
        .col-6.text-right
          %h3
            = @share_pool.gross_sale
    = link_to "", :class => "list-group-item list-group-item-action bg-transparent border-0 text-white" do
      .row.py-3.px-5.border-bottom.border-white
        .col-6
          %h3
            = Setting.share_pools.diamond
        .col-6.text-right
          %h3
            = @share_pool.diamond
