- provide(:title, t('.title'))

.personal-launchpad
  .personal-container-piercing
    .personal-container-header
      %h1.personal-container-title
        充值记录
    .order-records-container
      %table.order-container-thead
        %thead
          %th.order-thead-th1
            订单详情   
          %th.order-thead-th2
            交易人
          %th.order-thead-th3
            金额
          %th.order-thead-th4
            状态
          %th.order-thead-th5
            交易操作
      - @orders.each do |order|
        .order-container-table
          %table.order-container-head
            %tr.order-tr-title
              %td.order-title-td1
                = order.created_at.strftime("%Y-%m-%d %H:%M:%S")
                订单号:
                = order.number
          %table.order-contain-body
            %tr.order-body-tr
              %td.order-body-td1.order-body-td
                您通过支付宝的方式获得了
                %span.order-coin
                  = order.coin
                金币
              %td.order-body-td2.order-body-td
                = current_user.name
              %td.order-body-td3.order-body-td
                .order-td3-top
                  金额：
                  %strong
                    = order.money
                  元
                .order-td3-bottom
                  支付宝
              %td.order-body-td4.order-body-td
                - if order.state =="opening"
                  待支付
                - else
                  支付完成
              %td.order-body-td5.order-body-td
                - if order.state == "opening"
                  = link_to "立即支付", order_path(:id=>order.number), :class=>"order-a-pay"
                - else
                  = link_to "查看订单", order_path(:id=>order.number), :class=>"order-a-show"
      -@cards.each do |card|
        .order-container-table
          %table.order-container-head
            %tr.order-tr-title
              %td.order-title-td1
                = card.created_at.strftime("%Y-%m-%d %H:%M:%S")
                卡号:
                = card.number
          %table.order-contain-body
            %tr.order-body-tr
              %td.order-body-td1.order-body-td
                您通过卡密充值的方式获得了
                %span.order-coin
                  = card.coin
                金币
              %td.order-body-td2.order-body-td
                = current_user.name
              %td.order-body-td3.order-body-td
                .order-td3-top
                  金额：
                  %strong
                    = card.money
                  元
                .order-td3-bottom
                  卡密充值
              %td.order-body-td4.order-body-td
                - if card.status == Setting.cards.status_used
                  充值完成
              %td.order-body-td5.order-body-td
                = link_to "查看订单", card_path(:id=>card.number), :class=>"order-a-show"

