- provide(:title, t('.title'))

.personal-launchpad
  .personal-container-piercing
    .personal-container-header
      %h1.personal-container-title
        充值中心
    .order-container-wrapper
      .row.order-tip
        .col-md-2.col-xs-4.mobile-cards-title
          %span.order-bold
            充值账号
        .col-md-7.col-xs-8
          %span.order-name= @order.user.email
      .row.order-wrapper
        .col-md-2.col-xs-4.mobile-cards-title
          %span.order-bold.order-bold2
            充值金额
        .col-md-7.col-xs-8
          %span.order-account#order-account-change
            = "#{@order.money} 元"
      .row.order-wrapper
        .col-md-2.col-xs-4.mobile-cards-title
          %span.order-bold.order-bold2
            充值所得
        .col-md-7.col-xs-8
          %span.order-account#order-account-change
            = "#{@order.coin}"+" 币"
      .row.order-wrapper
        .col-md-2.col-xs-4.mobile-cards-title
          %span.order-bold.order-bold2
            支付方式
        .col-md-7.col-xs-8
          .order-list-container
            %ul.order-list
              %li.order-list-li.order-list-active.moible-list-width
                支付宝
      .row.order-wrapper{:style => "padding-top:3.5%"}
        - if @order.state == "opening"
          .col-md-8.mobile-order-center
            = link_to "立即支付", pay_orders_path(:id=>@order.number), :class=>"order-next order-next-block", :target=>"_blank"
        - else
          .col-md-2.col-xs-3.order-complete
            .order-complete-img-box
              = image_tag "order_complete.png"
          .col-md-7.col-xs-8.order-complete-word
            %p
              充值成功，您可以去生成论文了！
