.card-header.bg-white.py-4
  .row
    .col-12
      %h3
        提现记录
.card-body.text-center.py-4
  .row
    .col-12
      - if @extract_cashes
        %table.table
          %thead
            %tr
              %th
                日期
              %th
                = Setting.extract_cashes.coin
              %th
                状态
          %tbody
            - @extract_cashes.each_with_index do |extract_cash, index|
              %tr
                %td
                  = extract_cash.created_at.strftime("%Y-%m-%d %H:%M")
                %td
                  = extract_cash.coin
                %td
                  - if extract_cash.status == Setting.extract_cashes.pending
                    = Setting.extract_cashes.pending_title
                  - elsif extract_cash.status == Setting.extract_cashes.agree
                    = Setting.extract_cashes.agree_title
                  - else
                    = Setting.extract_cashes.disagree_title
      - else
        %h3.text-center
          暂无提现记录
