.container-fluid
  .row.mt-5
    .col-6
      %h1.text-center
        现有茶晶
      %h2.text-secondary.mt-5.text-center
        = @citrine.count
    .col-6
      %h1.text-center
        总获茶晶
      %h2.text-secondary.mt-5.text-center
        = @citrine.total
%h3.bg-light.my-5.text-center.py-4
  资金明细
.container-fluid.pb-5.mb-5
  .row
    .col-12
      %table.table
        %thead
          %th.text-center 
            %h4
              收支
          %th.text-center
            %h4
              内容
          %th.text-center
            %h4
              时间
        %tbody
          - @consumes.each do |c|
            %tr.mt-3
              %td.text-center.font-1-5rem
                茶晶
                -if c.category == Setting.consumes.category_buy_ware_citrine ||  c.category == Setting.consumes.category_system_citrine
                  +
                - elsif c.category == Setting.consumes.category_exchange_tree 
                  -
                = c.coin_cost
              %td.text-center.font-1-5rem
                = c.category
              %td.text-center.font-1-5rem
                = c.created_at.strftime("%Y-%m-%d %H:%M")
