.container-fluid.h-100
  .row.h-100.py-5.px-5
    .col-12
      = form_for @sell do |f|
        - if @sell.errors.any?
          #error_explanation
            %h2= "#{pluralize(@sell.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @sell.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row.justify-content-center.mb-5
          %h2
            发布转让
        .form-group.row.mb-5
          = f.label Setting.sells.price, :class => "col-2 col-form-label col-form-label-lg text-right"
          .col-7
            = f.number_field :price, :id => "js-sell-price", :class => "form-control border-0 form-control-lg", :step => :any
          %label{:class => "col-3 col-form-label col-form-label-lg text-right text-success font-weight-bold"}
            = "( " + "#{@trade.min}" + "-" + "#{@trade.max}" + " )"
          .col-12
            %hr
          
        .form-group.row.mb-5
          = f.label Setting.sells.count, :class => "col-2 col-form-label col-form-label-lg text-right"
          .col-7
            = f.number_field :count, :id => "js-sell-count", :class => "form-control border-0 form-control-lg", :step => :any
          %label{:class => "col-3 col-form-label col-form-label-lg text-right text-success font-weight-bold"}
            ( >=5 )
          .col-12
            %hr
        .form-group.row.mb-5
          = f.label '手续费', :class => "col-2 col-form-label col-form-label-lg text-right"
          %h2#js-sell-poundage.col-10
        .form-group.row
          .col-3.offset-2
            = link_to "取消", trades_path, :class => "btn btn-secondary btn-block btn-lg"
          .col-3.offset-2
            = f.submit '创建', :class => "btn btn-success btn-block btn-lg"
