.container-fluid
  .row
    .col-12
      = form_for @sell do |f|
        - if @sell.errors.any?
          #error_explanation
            %h2= "#{pluralize(@sell.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @sell.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row
          = f.label Setting.sells.price, :class => "col-sm-3 col-form-label"
          .col-sm-9
            = f.number_field :price, :id => "js-sell-price", :class => "form-control"
          
        .form-group.row
          = f.label Setting.sells.count, :class => "col-sm-3 col-form-label"
          .col-sm-9
            = f.number_field :count, :id => "js-sell-count", :class => "form-control"
        .form-group.row
          = f.label '手续费', :class => "col-3 col-form-label"
          #js-sell-poundage.col-9
          
      
        .form-group.row
          .col-3
            = link_to "取消", trades_path, :class => "btn btn-secondary"
          .col-3.offset-2
            = f.submit '创建', :class => "btn btn-success"
