- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-12
        %table.table.text-center.table-bordered
          %thead
            %tr
            
              %th 
                = Setting.sells.price
              %th 
                = Setting.sells.count
              %th
          %tbody
            %tr
            
              %td
                = @sell.price
              %td
                = @sell.count
              %td
                = link_to '编辑', edit_sell_path(@sell), :class => "btn btn-success"
                = link_to '返回', sells_path, :class => "btn btn-danger"
    

= render "layouts/control_panel"
