- provide(:title, t('.title'))


.card.w-100
  = image_tag 'trade-header.png', :class => "card-img-top"
  .card-body.py-5
    .row
      .col-6.text-center
        = link_to new_demand_path do
          %h2.text-secondary
            = image_tag 'publish-demand.png', :class => "img-thubnail"
            发布需求
      .col-6.text-center
        = link_to new_sell_path do
          %h2.text-secondary
            = image_tag 'publish-sell.png', :class => "img-thubnail"
            发布转让
%hr.mb-5
.container-fluid
  .row
    .col-12
      %h3.text-center
        茶叶坊市
      %h3.text-center.text-light
        固定开市时间(9:00-16:00)
      %hr
  .row
    .col-12.text-center
      %nav.nav-justified
        #nav-tab.nav.nav-tabs{:role => "tablist"}
          %a#pop1-tab.nav-item.nav-link.active{"aria-controls" => "pop1", "aria-selected" => "true", "data-toggle" => "tab", :href => "#pop1", :role => "tab"}
            %h3
              需求列表
          %a#pop2-tab.nav-item.nav-link{"aria-controls" => "pop2", "aria-selected" => "false", "data-toggle" => "tab", :href => "#pop2", :role => "tab"}
            %h3
              转让列表
      #nav-tabContent.tab-content
        #pop1.tab-pane.fade.show.active{"aria-labelledby" => "pop1-tab", :role => "tabpanel"}
          .pt-3
          - @demands.each do |d|
            %table
              %thead
                %th 时间
                %th 数量
                %th 单价
                %th 操作
              %tbody
                %td
                  = d.created_at.strftime("%H:%M")
                %td
                  = d.count 
                %td
                  = d.price 
                %td
                  = link_to '求购', betray_new_trade_path(d.id), :class => "btn btn-info" 
        #pop2.tab-pane.fade{"aria-labelledby" => "pop2-tab", :role => "tabpanel"}
          .pt-3
          - @sells.each do |d|
            %table
              %thead
                %th 时间
                %th 数量
                %th 单价
                %th 操作
              %tbody
                %td
                  = d.created_at.strftime("%H:%M")
                %td
                  = d.count 
                %td
                  = d.price 
                %td
                  = link_to '买入', buy_new_trade_path(d.id), :class => "btn btn-info" 
