- provide(:title, t('.title'))

= link_to "发布需求", new_demand_path, :class => "btn btn-primary"
= link_to "发布转让", new_sell_path, :class => "btn btn-success"
- @demands.each do |d|
  %table
    %thead
      %th 时间
      %th 数量
      %th 单价
      %th 操作
    %tbody
      %td
        = d.created_at.strftime("%H:%M")
      %td
        = d.count 
      %td
        = d.price 
      %td
        = link_to '求购', betray_new_trade_path(d.id), :class => "btn btn-info" 
         
- @sells.each do |d|
  %table
    %thead
      %th 时间
      %th 数量
      %th 单价
      %th 操作
    %tbody
      %td
        = d.created_at.strftime("%H:%M")
      %td
        = d.count 
      %td
        = d.price 
      %td
        = link_to '买入', buy_new_trade_path(d.id), :class => "btn btn-info" 
