%nav.nav.nav-pills.nav-fill.bg-light.fixed-bottom
  = link_to mobile_index_trees_path, :class => "nav-item nav-link" do
    = image_tag 'bar-home.png', :class => "img-thubnail"
  = link_to '', :class => "nav-item nav-link" do
    = image_tag 'bar-pool.png', :class => "img-thubnail"
  = link_to mobile_index_wares_path, :class => "nav-item nav-link" do
    = image_tag 'bar-ware.png', :class => "img-thubnail"
  = link_to trades_path, :class => "nav-item nav-link" do
    = image_tag 'bar-teahouse.png', :class => "img-thubnail"
  = link_to '', :class => "nav-item nav-link" do
    = image_tag 'bar-my.png', :class => "img-thubnail"
