- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-3
        = render "layouts/system_search"
      .col-md-2
        = link_to "添加", new_account_path, :class => "btn btn-info"
    .row.buyer-table-ctn
      .col-md-12
        %table.table.text-center.table-bordered.table-list-search
          %thead
            %tr
              %th #
            
              %th 
                = Setting.accounts.coin
              %th
          %tbody
            - @accounts.each_with_index do |account, index|
              %tr
                %td
                  = index+1
              
                %td
                  = account.coin
                %td
                  = link_to "查看", account_path(account), :class => "btn btn-primary btn-sm"
                  = link_to "编辑", edit_account_path(account), :class => "btn btn-success btn-sm"
                  = link_to "删除", account, :method => :delete, :data => {:confirm => "确定删除当前角色吗?"}, :class => "btn btn-danger btn-sm"

= render "layouts/control_panel"
