- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-12
        %table.table.text-center.table-bordered
          %thead
            %tr
            
              %th 
                = Setting.accounts.coin
              %th
          %tbody
            %tr
            
              %td
                = @account.coin
              %td
                = link_to '编辑', edit_account_path(@account), :class => "btn btn-success"
                = link_to '返回', accounts_path, :class => "btn btn-danger"
    

= render "layouts/control_panel"
